megan.tfvars
2-how-krm-works/cymbalbank-app-config/*
.terraform
*.tfstate*
*.lock.hcl
.DS_Store
3/app-dev/bank-of-anthos/
*key.json
config-sync-operator.yaml
terraform-megan.tfvars
*/cymbalbank-app-config/
*/cymbalbank-app-source/
*/cymbalbank-policy/
SQLInstance/
.vscode/