matrix:
- name: Markdown
  aspell:
    lang: en
  dictionary:
    wordlists:
    - .github/workflows/wordlist.txt
    encoding: utf-8
  pipeline:
  - pyspelling.filters.markdown:
  - pyspelling.filters.html:
    comments: false
    ignores:
    - code
    - pre
    - 'div.snippet-clipboard-content'
    - 'div.highlight-source-shell'
  sources:
  - '**/*.md'
  default_encoding: utf-8